
.page-wrapper {
    padding: 50px;
    font-size: 18px;
    background-color: #272B2F;
    min-height: calc(100vh - 56px - 200px);
}

.container.pb-5.mb-md-2.mb-lg-4 {
    color: #E5EAEF;
}

.border-bottom {
    color: #8DAFCE;
}

.pb-3 {
    color: #8DAFCE;
}

.container.rounded-3.py-5.px-3.px-md-0 {
    background-color: #1C1C21;
}

.card {
    background-color: #272B2F;
    color: #E5EAEF;
}

.image {
    font-size: 40px;
    color: #8DAFCE;
}

.card.rounded-3 {
    background-color: #1C1C21;

}



